
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 8px;
  background-color: #C4AFF1;
  text-align: center;
  color: #333333;
}

.modal-text{
  color: white;
}

.modalbutton{
  display: flex;
  justify-content: center;
  margin-left: 5%;
  background-color: #F6B5D7;
  width: 90%;
  border-radius: 8px;
}