  .profile-container {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 10px;
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  width: 100%;
  height: auto; 
}

.scrollable-container {
  overflow-y: auto;
  max-height: 330px;
}

.chacollection-profile-wrapper {
  margin-top: 60px;
}

.unavailable-icon {
  background-color: rgba(128, 128, 128, 0.5);
}
