.ParentInboxImageComponentBackground {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: black;
	/* opacity: 0.7; */
}


.InboxImageComponent {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	width: 95%;
	min-height: 110px;
	background: #ffffff;
	border: 3px solid #423752;
	border-radius: 10px;
	overflow: hidden;
	margin: 4px auto;
}

.inboxImageComponentHeader {
	width: 100%;
	min-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #a2b4fe;
	border-bottom: 3px solid #423752;
}

.inboxImageComponentHeaderText {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.inboxImageComponentHeaderTextTitle {
	font-size: 12px;
	margin: auto 12px;
	font-weight: bold;
	color: #ffffff;
}

.inboxImageComponentHeaderTime {
	font-size: 10px;
	color: #ffffff;
}

.inboxImageComponentHeaderIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.inboxImageComponentHeaderIcons img {
	width: 30px;
	height: 100%;
	padding: 0px 4px;
	border-left: 3px solid #6a7bc4;
}

.inboxImageComponentBody {
	/* max-height: 500px; */
}

.inboxImageComponentBodyMain {
	width: 100%;
}

.inboxImageComponentFooter {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: #a2b4fe;
	border-top: 3px solid #423752;
}

.inboxImageComponentFooterButton {
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #a2b4fe 0%, #ffc2fc 100%);
	border-right: 1.5px solid #423752;
	color: #ffffff;
}

.inboxImageComponentFooterReportButton {
	width: 100%;
	height: 100%;
	background: #e2e0ff;
	border-left: 1.5px solid #423752;
	color: #656565;
}

.inboxImageComponentFooterFromButton {
	width: 100%;
	height: 100%;
	background: #e08edc;
	border-right: 1.5px solid #423752;
	color: #ffffff;
	border-top: #423752 solid 3px;
	border-right: none;
}

.InboxImageComponent {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	width: 95%;
	min-height: 110px;
	background: #ffffff;
	border: 3px solid #423752;
	border-radius: 10px;
	overflow: hidden;
	margin: 4px auto;
}

.inboxImageComponentHeader {
	width: 100%;
	min-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #a2b4fe;
	border-bottom: 3px solid #423752;
}

.inboxImageComponentHeaderText {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.inboxImageComponentHeaderTextTitle {
	font-size: 12px;
	margin: auto 12px;
	font-weight: bold;
	color: #ffffff;
}

.inboxImageComponentHeaderTime {
	font-size: 10px;
	color: #ffffff;
}

.inboxImageComponentHeaderIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.inboxImageComponentHeaderIcons img {
	width: 30px;
	height: 100%;
	padding: 0px 4px;
	border-left: 3px solid #6a7bc4;
}

.inboxImageComponentBody {
	/* max-height: 500px; */
}

.inboxImageComponentBodyMain {
	width: 100%;
}

.inboxImageComponentFooter {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: #a2b4fe;
	border-top: 3px solid #423752;
}

.inboxImageComponentFooterButton {
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #a2b4fe 0%, #ffc2fc 100%);
	border-right: 1.5px solid #423752;
	color: #ffffff;
}

.inboxImageComponentFooterButtonDisable {
	width: 100%;
	height: 100%;
	/* background: linear-gradient(0deg, #a2b4fe 0%, #ffc2fc 100%); */
	background: gray;
	border-right: 1.5px solid #423752;
	color: #656565;
}

.inboxImageComponentFooterReportButton {
	width: 100%;
	height: 100%;
	background: #e2e0ff;
	border-left: 1.5px solid #423752;
	color: #656565;
}
